@using DataAccess

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="col-lg-12" hide>
                <div id="AlertBox" class="alert text-center @TempData["AlertType"]">
                    @Html.Raw(TempData["AlertMessage"])
                </div>
            </div>
        }
        <div class="col-xs-12 box">
            <div class="box-info col-md-12">
                <div class="box-header col-md-10">
                    <h2 class="box-title" style="font-weight: bold">DANH MỤC MÔN HỌC</h2>
                    <br/>
                    <small> Nhấn vào tìm kiếm để mở màn hình tìm kiếm <font color="red">Danh mục môn học</font> theo điều kiện. </small>
                    <br/>
                    <small> Hoặc tìm kiếm nhanh bằng cách nhập thông tin vào <font color="red">Search</font> </small>
                </div>
                <div class="col-md-2">
                    <div class="box-body">
                        <a class="btn btn-app" style="color: green" onclick="MonHoc.Modal_CreateMonHoc()">
                            <i class="fa fa-save"></i> Thêm
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover" style="border-width: thick">
                    <thead>
                    <tr>
                        <th>Mã môn học</th>
                        <th>Số lượng độ khó</th>
                        <th>Tên môn học</th>
                        <th>Mô tả</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (MONHOC row in ViewBag.Data_MonHoc)
                        {
                            <tr>

                                <td>@row.IDMONHOC</td>
                                <td>
                                    @foreach (MUCDOKHO dk in ViewBag.DataMucDoKho)
                                    {
                                        if (dk.IDMUCDOKHO == row.IDMUCDOKHO)
                                        {
                                            @dk.TENMUCDOKHO
                                            ;
                                            break;
                                        }

                                    }

                                </td>
                                <td>@row.TENMONHOC</td>
                                <td>@row.MOTAMONHOC</td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-success btn-xs btn-flat" onclick="MonHoc.Modal_xemCH(@row.IDMONHOC)">Chương</a>
                                    <a href="#" class="btn btn-success btn-xs btn-flat" onclick="MonHoc.Modal_EditMonHoc(@row.IDMONHOC)">Sửa</a>
                                    <a class="btn btn-danger btn-xs btn-flat" onclick="MonHoc.Modal_DeleteMonHoc(@row.IDMONHOC)">Xóa</a>
                                    <a class="btn btn-info btn-flat btn-xs" href="/admin/bo-de-thi-@row.IDMONHOC">Bộ đề</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.box-body -->
</section>
@RenderPage("Create.cshtml")
@RenderPage("Delete.cshtml")
@RenderPage("Edit.cshtml")
@RenderPage("view.cshtml")
@section Myscripts{

    <script src="~/Scripts/Back-end/ThuVien/Controller_MonHoc.js"></script>
    <script>
        var MonHoc = new Controller_MonHoc();

        $(".Select2").select2();
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
        });
    </script>
}


